<div class="table-container">
  <h2>Enquiry List</h2>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Class Mode</th>
        <th>Course</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      @for (item of items(); track $index) {
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.phn }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.classmode }}</td>
          <td>{{ item.course }}</td>

          <!-- STATUS DROPDOWN -->
          <td>
            <select
              class="status-dropdown"
              [value]="item.enqStatus"
              (change)="onStatusChange($index, $event)"
            >
              <option value="OPEN">OPEN</option>
              <option value="LOST">CLOSED</option>
              <option value="ENROLLED">ENROLLED</option>
            </select>
          </td>

          <!-- ACTION BUTTONS -->

      }
    </tbody>
  </table>
</div>
